/* You can add global styles to this file, and also import other style files */
@import '@fontsource/chela-one';
@import '@fontsource/roboto';

html {
	opacity: 1;
	height: 100%;
}

body {
	background: transparent radial-gradient(closest-side at 50% 50%, #b1e2ff 0%, #65c5fd 140%, #7aceff 140%) 0% 0% no-repeat padding-box;
	margin: 0;
	height: 100vh;
}

.modal-content {
	border-radius: 56px;
	box-shadow: 0 0 10px #000000;
}
