/* You can add global styles to this file, and also import other style files */
html {
  background: transparent radial-gradient(closest-side at 50% 50%, #b1e2ff 0%, #65c5fd 140%, #7aceff 140%) 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 100%;
  @import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}
body {
  margin: 0px;
  height: 100vh;
}
:focus {
  outline: 0 !important;
}
